<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reset Password</title>
    </head>
    <body>
        <h1>To reset you password please visit
            <a href="http://<%= domain %>:<%= port %>/#/api/resetPassword?token=<%= token %>"> click here</a>
        </h1>
    </body>
</html>
